body{
    background-image: url("photo/main.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}




#photo{
    position: relative;
    right:8px;
    bottom:10px;
}

#phototwo{
    position: relative;
    bottom: 25px;
    right: 8px;
}

#photothree{
    float: right;
    
}

ul {
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: relative;
    bottom: 660px;

}

ul a{
    color:rgb(192, 192, 192);
    list-style: none;
    padding: 0px 100px 0px 100px;
    font-size: 25px;
    transition-duration: 0.1s;
}

ul li:hover{
    transform: scaley(1.4);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 560px;
}


main p{
    color: rgb(255, 255, 255);
    height: 40px;
    width: 760px;
    font-size: 20px;
}

main h1{
    position: relative;
    top:10px;
    color: white;
}

#image{
    border: 10px solid black;
    position: relative;
    left: 40px;
    bottom: 960px;
    width: 250px;
    height: 250px;
}
#images{
    border: 10px solid black;
    position: relative;
    right: 234px;
    bottom: 670px;
    width: 250px;
    height: 250px;
    
}
#imageses{
    border: 10px solid black;
    position: relative;
    left:900px;
    bottom: 670px;
    width: 250px;
    height: 250px;
}